* {
    color: $color-aqua;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // router-outlet + *  {
  //   padding: 0 16px;
  // }

  // router-outlet {
  //   display: flex;
    
  // }